body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
  color: currentColor;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 120px;
}

.header {
  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  padding: 24px 0;
}
.container-header {
  display: flex;
  align-items: center;
}
.navigation {
  background: #ffffff;
  align-items: center;
  display: flex;
}
.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.title-two-part {
  color: #2e2f42;
}

.link {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  gap: 40px;
}

.link:active {
  color: #404bbf;
}
.link:hover {
  color: #404bbf;
}
.link:focus {
  color: #404bbf;
}

.header-top {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  display: flex;
}

.contacts-list {
  font-style: normal;
}

.contact-connection {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact-connection:hover {
  color: #404bbf;
}

.contact-connection:focus {
  color: #404bbf;
}

/* Section 1 */

.main-content-section {
  background-color: #2e2f42;
}

.main-content {
  color: white;
  background-color: #2e2f42;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.button-style {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  cursor: pointer;
}
.button-style:hover {
  background: #404bbf;
}

.button-style:focus {
  background-color: #404bbf;
}
.content-section {
  background-color: #2e2f42;
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.content-info-top {
  color: #2e2f42;
}
.title-three-part {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.content-info {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.description-content-info {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Section 3 */
.main-content-team {
  color: #2e2f42;
  font-size: 36px;
  text-align: center;
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.main-content-team-list {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: 0.02em;
  list-style: none;
}

.main-content-team-pic {
  background-color: #ffffff;
}

.our-team {
  background-color: #f4f4fd;
}

.team-photo {
  justify-content: center;
  background: #ffffff;
}

.main-content-team-person {
  color: #2e2f42;
  background: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.main-content-team-person-job {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.main-content-portfolio {
  color: #2e2f42;
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.main-content-portfolio-pic {
  background: #ffffff;
}

.main-content-portfolio-work {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.main-content-portfolio-work-description {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Footer */
.footer-text {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text-end {
  color: #f4f4fd;
  max-width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.title-two-part-fotter {
  color: #f4f4fd;
}
